<h1>Editing Transaction Type</h1>

<%= render 'form', transaction_type: @transaction_type %>

<%= link_to 'Mostrar', @transaction_type, class: 'btn' %> |
<%= link_to 'Voltar', transaction_types_path, class: 'btn' %>
