<%= render "#{transaction.type}_form".downcase, debt: debt, transaction: transaction %>

<div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>

  <% if transaction.new_record? %>
    <% http_verb = 'post' %>
    <% path = debt_transactions_path(@debt) %>
  <% else %>
    <% http_verb = 'patch' %>
    <% path = debt_transaction_path(@debt, transaction) %>
  <% end %>

  <button type="button" class="btn btn-success transaction-save" data-http-verb="<%= http_verb %>" data-path='<%= path %>'>Salvar</button>
</div>