<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Registrar <%= @transaction_item.transaction_info.category.name.downcase %></h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<%= render 'form', debt: @debt, transaction_item: @transaction_item %>
