<%= simple_form_for withdraw, url: debt_withdraws_path(debt) do |f| %>
  <div class="modal-body">
    <%= f.input :value %>
    <%= f.input :date, as: :date %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>