/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "/\*";
@import "jquery-ui";
@import "bootstrap";
@import "font-awesome";

.main-content {
	margin-top: 70px;  
}

.edit-transaction {
  cursor: pointer;
}

.block-edit-transaction {
  cursor: not-allowed;
}

.wide-container {
  max-width: 80%;
}

hr.dashed-hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

.debt-ops {
	margin-left: 120px;
	width: 70%;
}

.debt-header{
  background-color: #fff;
  top: 57px;
  width: 75%;
  z-index: 1030;
}

.debt-content{
  margin-top: 200px;
}

.debt-withdraws {
	width: 70%;	
}

.year-transaction {
  padding-top: 200px;
  margin-top: -200px;
}

.transactions-legend {
  margin-left: 30px;
}

.transactions-year-list{
  overflow-y: scroll;
  height: 77%;
}