<div class='nested-fields'>

	<%= f.input :charge_id, as: :hidden %>
    <div class="row">
		<div class="col-sm-6">
			<%= f.input :value, label: f.object.charge.name %>
		</div>
		<div class="col-sm-6">
        	<%= f.input :value_brl, label: f.object.charge.name %>
      	</div>
	</div>
</div>


